@import '../variables.scss';

.speech-bubble {
    position: relative;
    max-width: 600px;
    width: fit-content;
	background-color: $light-text-color;
	border-radius: 2rem;
}

.speech-bubble.me {
    background-color: $base-active-color;
    color: $light-text-color;
    // margin-left: auto;
    // margin-right: 0;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 1.7em;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: $light-text-color;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
    margin-bottom: -10px;
}

 .speech-bubble.me:after {
//     right: 1.7em;
//     left: auto;
// 	width: 0;
// 	height: 0;
// 	border: 15px solid transparent;
 	border-top-color: $base-active-color;
//     border-bottom: 0;
// 	border-right: 0;
// 	margin-left: -10px;
// 	margin-bottom: -15px;
 }

 
 .major-block {
    height: calc(100% - 150px);
    width: 100%;
    position: relative;
 }

 .light-text {
    font-size: 0.8em;
    font-weight: 100;
 }
