<div class="contact-section border-bottom">
    <div class="d-flex justify-content-between p-3">
        <div class="d-flex flex-column">
            <h6 class="mb-0 font-weight-bold">Yurii Shevchuk</h6>
            <!-- {{chat.name}} -->
            <small class="small muted">3 minutes ago</small>
            <!-- {{chat.lastDate}} -->
        </div>
        <div class="d-flex align-items-center mr-4">
            <fa name="ellipsis-h" size="lg" class="muted"></fa>
        </div>
    </div>

</div>
<div class="major-block">
    <div class="bottom-block p-3">
        <div *ngFor="let message of messages" class="mb-2">
            <div class="speech-bubble shadow py-2 px-3" [class.me]="message.isMe">
                {{message.text}}
            </div>
            <div>
                <span class="muted ml-4 light-text">{{message.sendDate}}</span>
            </div>
        </div>

    </div>
</div>
<div class="border-top px-4 py-3">
    <chat-message-input></chat-message-input>
</div>