<div class="mt-4">
    <div *ngFor="let chat of chats">
        <a href="#" class="list-group-item list-group-item-action active shadow p-3 mb-3 rounded-lg" [class.active]="chat.isCurrent">
            <div class="media">
                <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0 font-weight-bold">{{chat.name}}</h6>
                        <small class="small muted">{{chat.lastDate}}</small>
                    </div>
                    <p class="mb-0 text-small">{{chat.lastMessage}}</p>
                </div>
            </div>
        </a>
    </div>
</div>