$base-dark-color: #2b2f4d;
$base-font-color: #191d2d;
$base-light-color: #bec1c9;
$base-active-color: #f34a4a;
$light-text-color: #fff; 

$icon-color: #676d82;
$icon-hover-color: #9ca0af;

$input-color: #f5f3f3;